# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Build / packaging
build/
dist/
*.egg-info/

# Testing cache
.pytest_cache/

# eSim Task Specific
project_information/
